.nav-bar{
    display: flex;
    justify-content: space-between;
    margin-top:30px;
}
/* Services proposée et portfolio */
.nav-title{
    display: flex;
    align-items: center;
}
.nav-title a{
    margin-left: 50px;
    text-decoration: none;
    color: black;
    font-size: 25px;
}
/* Hover remake animation as you want */
.nav-title a:hover{
    transform: scale(1.25);
}
.booki{
    height:800px;
    width: 600px;

}
.logo{
    height:100px;
    width:100px;
    margin-left:15px;
}
.profile{
    height:100px;
    border-radius:55px;
    width:100px;
}

/* Body */

main{
    margin-top: 100px;
    margin-left: 50px;
}
.main-custum{
    display: flex;
    margin-right: 50px;
    margin-bottom: 50px;
}

.paragraph{
    width: 50%;
}
.container{
    height: 80vh;
}
.price{
    color: blue;
}
footer{
    background-color: black;
    display: flex;
    justify-content: space-around;
}
.fab{
    color: white;
    font-size: 50px;
    margin: 30px;
    text-decoration: none;
}
.fa-facebook:hover{
    color: blue;
    transform: scale(1.2);
}
.fa-linkedin:hover{
    color:aqua;
    transform: scale(1.2);
}
.fa-instagram:hover{
    color: rgb(177, 0, 118);
    transform: scale(1.2);
}
.form-axel{
    width: 30%;
}
.form{
    display: flex;
    justify-content: flex-end;
}

.btn-axel{
    height:100px;
    width:406px;
    background-color:#1677be;
    color:white;
} 




/* Formulaire de base */
/* .firstinput{
    height:50px;
    width:400px;
    color:black;
    margin-left:1000px;
}
.secondinput{
    height:50px;
    width:400px;
    margin-left:1000px;
}
.thirdinput{
    height:250px;
    width:400px;
    background-color: lightblue;
    margin-left:1000px;
    text-align: top;
}
.btn-axel{
    height:100px;
    width:406px;
    background-color:#1677be;
    color:white;
} */

/* h2{
    font-weight:"phosphate";
} */
/* .fa-linkedin{
    display: flex;
    justify-content: space-between;
    width:400px;
    height:30%;
    width:20%;
    margin-left:150px;
    margin-top:30px;
    height:40px;
    width:10px;
    color:blue;
}
.fa-instagram{
    margin-left:310px;
    height:100px;
    color:purple;
}
.fa-facebook{
    margin-left:350px;
    color:blue;
    
} */

/* footer i{
    margin:0px 420px 0px 0px;
    color:grey;
    border:10px solid grey;
    height:40px;
    width:100px;
    display: flex;
    justify-content: space-between;
    width:400px;

} */
/* .social{
    border:1px solid gray;
    display: flex;
    background-color:grey;
    height:25px;


} */